.article-container {
  width: 70% !important;
  max-width: 70% !important;
  padding: 5% !important;
  background-color: white;
}

.bagdes-list {
  max-width: 60%;
  display: block;
}

.back-button {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}